* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 150px;
  margin: 0 120px;
}

.playerTitle {
  font-size: 40px;
  margin: 10px 10px;
  padding: 0 30px;
}
.groundTitle {
  font-size: 40px;
  margin: 10px 40px;
}
.theResult {
  font-size: 50;
  color: #f00;
}
.player1Img,
.player2Img {
  position: relative;
  z-index: 1;
}
.p1-img {
  position: absolute;
  left: 38%;
  top: 18%;
}
.p2-img {
  position: absolute;
  right: 45%;
  top: 18%;
}
.displayCard1 {
  transform: rotate(-8deg);
  width: 150px;
}
.displayCard2 {
  transform: rotate(8deg);
  width: 150px;
}
.cardNumP1 {
  font-size: 25px;
  font-weight: 700;
  margin: 10px 20%;
  padding: 10px 40px;
  background-color: red;
  border: none;
}
.cardNumP2 {
  font-size: 25px;
  font-weight: 700;
  margin: 0 20% 20px;
  padding: 10px 40px;
  background-color: red;
  border: none;
}

@media only screen and (max-width: 600px) {
  .main {
    top: 70px;
    margin: 0 60px;
  }

  .playerTitle {
    font-size: 20px;
    margin: 50px 50px;
    padding: 0 20px;
  }
  .groundTitle {
    font-size: 20px;
    margin: 5px 20px;
  }
  .theResult {
    font-size: 26px;
  }
  .player1Img,
  .player2Img {
    width: 100px;
    left: 25%;
  }
  .p1-img {
    left: 38%;
    top: 30%;
  }
  .p2-img {
    right: 35%;
    top: 30%;
  }
  .displayCard1 {
    width: 60px;
  }
  .displayCard2 {
    width: 60px;
  }
  .cardNumP1 {
    font-size: 15px;
    margin: 10px 30%;
    padding: 10px 20px;
  }
  .cardNumP2 {
    font-size: 15px;
    margin: 10px 35%;
    padding: 10px 20px;
  }
}
