* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 150px;
  margin: 0 120px;
}

.playerTitle {
  font-size: 40px;
  margin: 10px 10px;
  padding: 0 30px;
}
.groundTitle {
  font-size: 40px;
  margin: 10px 40px;
}
.theResult {
  font-size: 50;
  color: #f00;
}
.player1Img,
.player2Img {
  position: relative;
  z-index: 1;
}

.displayCard {
  width: 180px;
  left: -35px;
}
.cardNumPlayer1 {
  font-size: 25px;
  font-weight: 700;
  margin: 10px 20%;
  padding: 10px 40px;
  background-color: red;
  border: none;
}
.cardNumPlayer2 {
  font-size: 25px;
  font-weight: 700;
  margin: 0 20% 20px;
  padding: 10px 40px;
  background-color: red;
  border: none;
}
